<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casting Agency</title>
    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>

    <style>
        #token {
            width: 800px;
            word-wrap: break-word;
            margin: 10px, 10px, 10px, 0px;
            padding: 10px;
            border: 1px solid black
        }

        #container {
            margin: 10px;
        }

        button {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Kep Casting Agency</h1>
        <h3>An API and database to manage actors and movies</h3>
        <h2>Login Credentials</h2>
        <div>
            <p>Casting Assistant</p>
            <p>Username: assistant@casting-agency.com</p>
            <p>Password: Casting4@</p>
        </div>
        <div>
            <p>Casting Director</p>
            <p>Username: director@casting-agency.com</p>
            <p>Password: Casting4@</p>
        </div>
        <div>
            <p>Executive Producer</p>
            <p>Username: producer@casting-agency.com</p>
            <p>Password: Casting4@</p>
        </div>

        <a href="/login">Login</a>
    </div>
</body>

</html>