<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casting Agency</title>
    <!-- <script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        body {
            background-color: rgb(169, 223, 223)
        }

        .buttons {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        h1 {
            margin-top: 15px;
        }

        h3 {
            margin-bottom: 45px;
        }

        .container {
            width: 950px;
        }

        textarea {
            height: 350px;
        }
    </style>
</head>

<body>
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div>
            <h1 class="text-center">Welcome to the Kep Casting Agency API</h1>
            <h3 class="text-center">An API and database to manage actors and movies</h3>
        </div>

        <div class="container text-center">
            <p>To interact with the API, authenticate using the following JWT token</p>
            <div>
                <p id='jwt'></p>
                <textarea id="token" class="col-8 row-4">{{ token }}</textarea>
                <!-- cols="80" rows="15" -->
            </div>
            <div class="buttons row justify-content-center">
                <div class="col-4">
                    <button class='btn btn-primary' onclick="copyJWT()">Copy JWT</button>
                </div>
                <div class="col-4">
                    <a class='btn btn-danger' href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function copyJWT() {
            const jwt = document.getElementById("token");
            jwt.select();
            document.execCommand("copy").trim();
        }
    </script>
</body>

</html>