<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casting Agency</title>
    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>

    <style>
        #token {
            width: 800px;
            word-wrap: break-word;
            margin: 10px, 10px, 10px, 0px;
            padding: 10px;
            border: 1px solid black
        }

        #container {
            margin: 10px;
        }

        button {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div id="container">
        <h1>JWT Control Center</h1>
        <p>Bearer Token:</p>
        <div>
            <p id='jwt'></p>
            <textarea id="token" cols="80" rows="15">{{ token }}</textarea>
        </div>
        <a href="/logout">Logout</a><br>
        <button onclick="copyJWT()">Copy JWT</button>
    </div>

    <script>
        function copyJWT() {
            const jwt = document.getElementById("token");
            jwt.select();
            document.execCommand("copy").trim();
        }
    </script>
</body>

</html>